# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
triton/

# Jupyter Notebook
.ipynb_checkpoints

# Benchmarks
# data/benchmark/

# Results
results/benchmark/*_truthfulqa_results.csv

# Shells
*.sh
*.out